body{
  background-color: var(--dark-primary);
}
:root {
  --dark-primary: #222831;
      --light-primary: #393e46;
      --dark-text: #00adb5;
      --light-text: #EEEEEE;
}
    /* --dark-primary: #F9B872;
      --light-primary: #FAE7A5;
      --dark-text: #006BF5;
      --light-text: #0B132B; */
    /* --dark-primary: #222831;
      --light-primary: #393e46;
      --dark-text: #00adb5;
      --light-text: #EEEEEE; */
      /* --dark-primary: #086788;
      --light-primary: #06AED5;
      --dark-text: #F0C808;
      --light-text: #030027; */
      /* --dark-primary: #000000;
      --light-primary: #5221AD;
      --dark-text: #FF7518;
      --light-text: #4CC9F0; */
      /* --dark-primary: #8811E0;
      --light-primary: #EE0AEC;
      --dark-text: #03339A;
      --light-text: #FF6700; */
      /* --dark-primary: #252A34;
      --light-primary: #08D9D6;
      --dark-text: #BA2C73;
      --light-text: #EAEAEA; */

nav {
  background-color: var(--dark-text);
  color: var(--dark-text);
}
.nav-btn {
  color: var(--light-text);
}
.nav-btn:hover {
  color: black;
}
.container-primary {
  background-color: var(--dark-primary);
}
.container-secondary {
  background-color: var(--light-primary);
}
.light-text {
  color: var(--light-text);
}
.dark-text {
  color: var(--dark-text);
}
/* .btn {
  background-color: var(--light-primary);
  color: var(--dark-text);
}
.btn:hover {
  background-color: var(--light-text);
} */
.btn-link:hover {
  background-color: var(--dark-text);
}
.sign-up {
  background-color: var(--light-primary);
  color: var(--light-text);
}
.sign-up:hover {
  background-color: var(--dark-text);
}
.card-icon {
  margin: 0 len;
}
.card-icon i {
  font-size: 3em;
}
.card {
  background-color: var(--light-primary);
  color: white;
  padding: 3em 0;
  border: 0;
  border-radius: 4em 0;
  background: linear-gradient(to left, var(--light-primary) 50%, #EF3054 50%);
  background-size: 200%;
  background-position: right;
  transition: all 0.5s;
}
.card:hover {
  background-position: left;
  box-shadow: 5px 5px;
}
.card-top {
  background-color: var(--dark-text);
}
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}

