<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Signup.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="curved-shape"></div>
        <div class="form-box Signup">
            <h2>Login</h2>
            <form action="" method="post">
                {% csrf_token %}
                <!-- Username input -->
                <div class="input-box">
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    <i class='bx bx-user-circle'></i>
                </div>
                <!-- Password input -->
                <div class="input-box">
                    {{ form.password }}
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <!-- lolgin Button -->
                <div class="input-box">
                    <button class="btn" type="submit">Submit</button>
                </div>
                <!-- Signup Link -->
                <div class="register-link">
                    <p>Don't have an account? <a href="Signup" class="LoginInLink">Signup</a></p>
                </div>
            </form>
        </div>
        <div class="info-content">
            <h2>WELCOME BACK TO PEBBLE CODING!</h2>
            <p>Your developer journey continues here</p>
        </div>
    </div>
</body>
</html>