{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/my_course.css' %}">
</head>

<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="box p-4 position-relative">
    <h1 class="text-white">{{ courses.name }}</h1>
    <p class="text-white">Category: {{ courses.category }}</p>
    <p class="text-white">Description: {{ courses.description }}</p>

    <h2 class="text-white">Lessons:</h2>
    <ul>
      {% for lesson in lessons %}
        <li class="text-white">
          <a href="{% url 'lesson' lesson.id %}" class="text-warning">Lesson ID: {{ lesson.id }}</a>
        </li>
      {% endfor %}
    </ul>

    <!-- Modal Container for HTMX -->
    <div id="enrollment-modal"></div>

    {% if courses not in user.profile.enrolled_courses.all %}
      <!-- Trigger HTMX view for popup -->
      <button class="btn btn-outline-success"
        hx-get="{% url 'enrollmentpopup' courses.id %}"
        hx-target="#enrollment-modal"
        hx-swap="innerHTML">Enroll in {{ courses.name }}</button>
    {% else %}
      <form method="POST">
        {% csrf_token %}
        <button class="btn btn-primary" name="action" value="resume">Resume</button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
